@using UserRoles = AMS.Models.Enums.Roles;

@{
    ViewBag.Title = "StaffAttendance";
}
@if (User.IsInRole("SuperAdmin") || User.IsInRole("HR"))
{
    <div class="container-fluid" ng-controller="AgentAttendanceCtrl" ng-init="initIndexHRstaff()">
        <div class="row">
            <div class="col-xl-12 col-md-12 col-lg-12">
                <div class="card" style="margin-top: 10px;">
                    <div class="card-header  border-0">
                        <h4 class="card-title">All Staff Attendance Overview</h4>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-xl-5">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">From:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                        <i class="feather feather-calendar"></i>
                                                    </div>
                                                </div>
                                                <input type="date" class="form-control" ng-model="DateFrom" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">To:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                        <i class="feather feather-calendar"></i>
                                                    </div>
                                                </div>
                                                <input type="date" class="form-control" ng-model="DateTo" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-12 col-lg-12 col-xl-2">
                                <div class="form-group mt-4">
                                    <a href="#" class="btn btn-primary btn-block" style="margin-top: 33px;" ng-click="GetAllEmployeesAttendance(DateFrom,DateTo)">GET</a>
                                </div>
                            </div>

                            <div style="margin-top: 33px;">
                                <button class="btn btn-primary pull-right" ng-disabled="AttendanceList.length == 0" ng-click="Export('StaffAttendanceReport', 'staffAttendanceTable')"><i class="fas fa-file-excel"></i></button>
                            </div>

                            <table class="table table-bordered table-responsive-xs" id="staffAttendanceTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr style="overflow:hidden;">
                                        <th>
                                            Agent Name <a href="" class="sort-icon" ng-click="SetSortingColoumn('Date')"><i class="fas fa-arrow-up" ng-class="Sorting.AscClass"></i><i class="fas fa-arrow-down" ng-class="Sorting.DescClass"></i></a>
                                        </th>
                                        <th>
                                            Date <a href="" class="sort-icon" ng-click="SetSortingColoumn('Date')"><i class="fas fa-arrow-up" ng-class="Sorting.AscClass"></i><i class="fas fa-arrow-down" ng-class="Sorting.DescClass"></i></a>
                                        </th>
                                        <th>
                                            Status <a href="" class="sort-icon" ng-click="SetSortingColoumn('Status')"><i class="fas fa-arrow-up" ng-class="Sorting.AscClass"></i><i class="fas fa-arrow-down" ng-class="Sorting.DescClass"></i></a>
                                        </th>
                                        <th>
                                            Remarks <a href="" class="sort-icon" ng-click="SetSortingColoumn('Remarks')"><i class="fas fa-arrow-up" ng-class="Sorting.AscClass"></i><i class="fas fa-arrow-down" ng-class="Sorting.DescClass"></i></a>
                                        </th>
                                        <th>
                                            Clock-In <a href="" class="sort-icon" ng-click="SetSortingColoumn('Clock-In')"><i class="fas fa-arrow-up" ng-class="Sorting.AscClass"></i><i class="fas fa-arrow-down" ng-class="Sorting.DescClass"></i></a>
                                        </th>
                                        <th>
                                            Clock-Out <a href="" class="sort-icon" ng-click="SetSortingColoumn('Clock-Out')"><i class="fas fa-arrow-up" ng-class="Sorting.AscClass"></i><i class="fas fa-arrow-down" ng-class="Sorting.DescClass"></i></a>
                                        </th>
                                        <th>
                                            Hours <a href="" class="sort-icon" ng-click="SetSortingColoumn('Hours')"><i class="fas fa-arrow-up" ng-class="Sorting.AscClass"></i><i class="fas fa-arrow-down" ng-class="Sorting.DescClass"></i></a>
                                        </th>
                                        <th>
                                            Shift <a href="" class="sort-icon" ng-click="SetSortingColoumn('Shifts')"><i class="fas fa-arrow-up" ng-class="Sorting.AscClass"></i><i class="fas fa-arrow-down" ng-class="Sorting.DescClass"></i></a>
                                        </th>
                                        @if (User.IsInRole(UserRoles.HR))
                                        {
                                            <th>
                                                Is Excused
                                            </th>
                                        }
                                        <th>
                                            Type <a href="" class="sort-icon" ng-click="SetSortingColoumn('Hours')"><i class="fas fa-arrow-up" ng-class="Sorting.AscClass"></i><i class="fas fa-arrow-down" ng-class="Sorting.DescClass"></i></a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="Agent in AttendanceList  | orderBy:Sorting.Field:Sorting.IsAscending">
                                        <td>
                                            {{Agent.AgentName}}
                                        </td>
                                        <td>
                                            {{Agent.Date | date:'MMM d, y'}}
                                        </td>
                                        <td>
                                            <span ng-if="Agent.IsLate == true" style="color:red">Late</span>
                                            <span ng-if="Agent.IsPresent == true" style="color: chartreuse">On Time</span>
                                            <span ng-if="Agent.IsExcused == true" style="color: blueviolet">Excused</span>
                                            <span ng-if="Agent.IsAbsent == true" style="color:black">Absent</span>
                                            <span ng-if="Agent.IsHoliday == true" style="color:black">Holiday</span>
                                        </td>
                                        <td>
                                            <span ng-if="Agent.IsExcused == true">{{Agent.Remarks}}</span>
                                        </td>
                                        <td>
                                            <span ng-if="Agent.IsAbsent == false && Agent.IsHoliday == false">{{Agent.StartDateTime | date:'hh:mm a'}}</span>
                                            <span ng-if="Agent.IsAbsent == true || Agent.IsHoliday == true">NA</span>
                                        </td>
                                        <td>
                                            <span ng-if="Agent.IsAbsent == false && Agent.IsHoliday == false">{{Agent.EndDateTime | date:'hh:mm a'}}</span>
                                            <span ng-if="Agent.IsAbsent == true || Agent.IsHoliday == true">NA</span>
                                        </td>
                                        <td>
                                            <span ng-if="Agent.IsAbsent == false && Agent.IsHoliday == false">{{Agent.WorkingHours}}</span>
                                            <span ng-if="Agent.IsAbsent == true || Agent.IsHoliday == true">NA</span>
                                        </td>
                                        <td>
                                            {{Agent.ShiftName}}
                                        </td>
                                        @if (User.IsInRole(UserRoles.HR))
                                        {
                                            <td>
                                                <button class="bg-primary primary ml-4" ng-if="Agent.IsLate == true" data-toggle="modal" data-target="#markExcuseModal" ng-click="SaveExcusedAgent(Agent)"><i class="fa fa-check-circle"></i></button>
                                            </td>
                                        }
                                        <td ng-if="Agent.Type == 0">
                                            {{Agent.TypeEnum}}
                                        </td>
                                        <td ng-if="Agent.Type == 1">
                                            <a href="http://maps.google.com/?q={{Attendance.Latitude}},{{Attendance.Longitude}}" target="_blank">{{Agent.TypeEnum}}</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @* adding mark excused modal *@
        <div id="markExcuseModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            Mark Excused
                        </h4>
                    </div>
                    <div>
                        <label class=""> Remarks </label>
                        <input class="" type="text" ng-model="ExcusedAgentRemarks" />
                    </div>
                    <div class="modal-body">
                        <h5 class="text-center">Are you sure?</h5>
                    </div>
                    <div class="modal-footer">
                        <div class="btn btn-danger" data-dismiss="modal">
                            No
                        </div>
                        <div class="btn btn-success" ng-click="MarkExcused(ExcusedAgentId, ExcusedAgentRemarks)" data-dismiss="modal">
                            Yes
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


