@using Microsoft.AspNet.Identity;
@using UserRoles = AMS.Models.Enums.Roles;
@{
    ViewBag.Title = "Home Page";

}
<link href="~/Content/CardStyle.css" rel="stylesheet" />
<link href="~/Content/Clock.css" rel="stylesheet" />

<div class="container-fluid" ng-controller="ProfileCtrl" ng-init="InitIndex()">
    <div class="clearfix">
        <h3 class="pull-left"></h3>
    </div>
    <div>
        @*<div class="row">

                <img src="~/Content/Image/SharptelLogo.png" class="image-fit" />
            </div>*@

        @*@if (User.IsInRole(UserRoles.Employee) || User.IsInRole(UserRoles.HR))
            {
                <div class="row">
                    <div class="col-md-4">
                        <label>First Name: {{UserInfo.FirstName}}</label>
                    </div>
                    <div class="col-md-4">
                        <label>Last Name: {{UserInfo.LastName}}</label>
                    </div>
                    <div class="col-md-4">
                        <label>Attendance Marked: {{UserInfo.IsAttendanceMarked}}</label>
                    </div>



                </div>

            }*@

        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <div class="container">
            <div class="row">
                @*<div class="col-md-4 col-xl-3">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Present</h6>
                    <h2 class="text-right"><i class="fa fa-cart-plus f-left"></i><span>486</span></h2>
                    <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
                </div>
            </div>
        </div>*@
                <div class="col-md-4 col-xl-4">
                    <div class="card bg-c-pink order-card boxsize">
                        <div class="card-block">
                            <h4 class="m-b-20 mb-4 text-dark" ng-if="!User.IsAbsent">Today's Sign In Time </h4>
                            <h2 class="text-right" ng-if="!User.IsAbsent"><i class="fa fa-clock f-left"></i><span class="mr-3">{{User.TodayClockIn | date:'hh:mm a'}}</span></h2>
                            <p class="m-b-0" ng-if="User.IsLate">You are late today</p>
                            <p class="m-b-0" ng-if="User.IsAbsent">You are absent today</p>
                            <p class="m-b-0" ng-if="User.IsExcused">You are excused today for being late</p>
                            <p class="m-b-0" ng-if="User.IsPresent">You are on time today</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xl-4">
                    <div class="card bg-c-yellow order-card boxsize">
                        <div class="card-block">
                            <h6 class="m-b-20"></h6>
                            <h6 class="m-b-20">Leaves</h6>
                            <p class="m-b-0">Total Leaves Left <span class="f-right">{{User.RemainingLeaves}}/30</span></p>
                            <p class="m-b-0">Annual Leaves <span class="f-right">{{User.AnnualLeaves}}/20</span></p>
                            <p class="m-b-0">Medical Leaves <span class="f-right">{{User.MedicalLeaves}}/10</span></p>
                            
                            <h4 class="m-b-20 mb-4 text-dark">Leaves</h4>
                            <p class="m-b-0">Total Leaves Left <span class="f-right">{{User.RemainingLeaves}}</span></p>
                            <p class="m-b-0">Annual Leaves <span class="f-right">{{User.AnnualLeaves}}</span></p>
                            <p class="m-b-0">Medical Leaves <span class="f-right">{{User.MedicalLeaves}}</span></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-xl-4">
                    <div class="card bg-c-green order-card boxsize">
                        <div class="card-block">
                            <h4 class="m-b-20 mb-2 text-dark"><b>This Month</b></h4>
                            @*<h2 class="text-right"><i class="fa fa-rocket f-left"></i><span>000</span></h2>*@
                            <p class="m-b-0">On Time<span class="f-right">{{User.PresentCount}}</span></p>
                            <p class="m-b-0">Late<span class="f-right">{{User.LateCount}}</span></p>
                            <p class="m-b-0">Excused<span class="f-right">{{User.ExcusedCount}}</span></p>
                            <p class="m-b-0">Absent<span class="f-right">{{User.AbsentCount}}</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 mb-3">
                    <div class="profile-card-4 z-depth-3">
                        <div class="card">
                            <div class="card-body text-center bg-primary rounded-top">
                                <div class="user-box">
                                    <img src="{{User.ImageUrl}}" alt="user avatar">
                                </div>
                                <h5 class="mb-1 text-white">{{User.FirstName}} {{User.LastName}}</h5>
                                <h6 class="text-light">{{User.DepartmentEnum}}</h6>
                            </div>
                            <div class="card-body">
                                <ul class="list-group shadow-none">
                                    <li class="list-group-item">
                                        <div class="list-icon">
                                            <i class="fa fa-phone-square"></i>
                                        </div>
                                        <div class="list-details">
                                            <span>{{TempUser.Contact1}}</span>
                                            <small>Mobile Number</small>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="list-icon">
                                            <i class="fa fa-envelope"></i>
                                        </div>
                                        <div class="list-details">
                                            <span>{{TempUser.Email}}</span>
                                            <small>Email Address</small>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="list-icon">
                                            <i class="fa fa-home"></i>
                                        </div>
                                        <div class="list-details">
                                            <span>{{TempUser.Address}}</span>
                                            <small>Address</small>
                                        </div>
                                    </li>
                                </ul>
                                @*<div class="row text-center mt-4">
                                    <div class="col p-2">
                                        <h4 class="mb-1 line-height-5">4</h4>
                                        <small class="mb-0 font-weight-bold">Projects</small>
                                    </div>
                                    <div class="col p-2">
                                        <h4 class="mb-1 line-height-5">60%</h4>
                                        <small class="mb-0 font-weight-bold">Attendance</small>
                                    </div>
                                    <div class="col p-2">
                                        <h4 class="mb-1 line-height-5">5</h4>
                                        <small class="mb-0 font-weight-bold">Leaves</small>
                                    </div>
                                </div>*@
                            </div>

                        </div>
                    </div>
                </div>
                <style>
                    .clock {
                        background: #ececec;
                        width: 300px;
                        height: 300px;
                        margin: 2% auto 0 5%;
                        border-radius: 50%;
                        border: 1px solid #333;
                        position: relative;
                        box-shadow: 0 2vw 4vw -1vw rgba(0,0,0,0.8);
                    }

                    .dot {
                        width: 14px;
                        height: 14px;
                        border-radius: 50%;
                        background: #ccc;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        margin: auto;
                        position: absolute;
                        z-index: 10;
                        box-shadow: 0 2px 4px -1px black;
                    }

                    .hour-hand {
                        position: absolute;
                        z-index: 5;
                        width: 4px;
                        height: 65px;
                        background: #333;
                        top: 79px;
                        transform-origin: 50% 72px;
                        left: 50%;
                        margin-left: -2px;
                        border-top-left-radius: 50%;
                        border-top-right-radius: 50%;
                    }

                    .minute-hand {
                        position: absolute;
                        z-index: 6;
                        width: 4px;
                        height: 100px;
                        background: #666;
                        top: 46px;
                        left: 50%;
                        margin-left: -2px;
                        border-top-left-radius: 50%;
                        border-top-right-radius: 50%;
                        transform-origin: 50% 105px;
                    }

                    .second-hand {
                        position: absolute;
                        z-index: 7;
                        width: 2px;
                        height: 120px;
                        background: gold;
                        top: 26px;
                        lefT: 50%;
                        margin-left: -1px;
                        border-top-left-radius: 50%;
                        border-top-right-radius: 50%;
                        transform-origin: 50% 125px;
                    }

                    .clk span {
                        display: inline-block;
                        position: absolute;
                        color: #333;
                        font-size: 22px;
                        font-family: 'Poiret One';
                        font-weight: 700;
                        z-index: 4;
                    }

                    .h12 {
                        top: 30px;
                        left: 50%;
                        margin-left: -9px;
                    }

                    .h3 {
                        top: 140px;
                        right: 30px;
                    }

                    .h6 {
                        bottom: 30px;
                        left: 50%;
                        margin-left: -5px;
                    }

                    .h9 {
                        left: 32px;
                        top: 140px;
                    }

                    .diallines {
                        position: absolute;
                        z-index: 2;
                        width: 2px;
                        height: 15px;
                        background: #666;
                        left: 50%;
                        margin-left: -1px;
                        transform-origin: 50% 150px;
                    }

                        .diallines:nth-of-type(5n) {
                            position: absolute;
                            z-index: 2;
                            width: 4px;
                            height: 25px;
                            background: #666;
                            left: 50%;
                            margin-left: -1px;
                            transform-origin: 50% 150px;
                        }

                    .info {
                        position: absolute;
                        width: 120px;
                        height: 20px;
                        border-radius: 7px;
                        background: #ccc;
                        text-align: center;
                        line-height: 20px;
                        color: #000;
                        font-size: 11px;
                        top: 200px;
                        left: 50%;
                        margin-left: -60px;
                        font-family: "Poiret One";
                        font-weight: 700;
                        z-index: 3;
                        letter-spacing: 3px;
                        margin-left: -60px;
                        left: 50%;
                    }

                    .date {
                        top: 80px;
                    }

                    .day {
                        top: 200px;
                    }
                </style>
                <div class="clock">
                    <div>
                        <div class="info date"></div>
                        <div class="info day"></div>
                    </div>
                    <div class="dot"></div>
                    <div>
                        <div class="hour-hand"></div>
                        <div class="minute-hand"></div>
                        <div class="second-hand"></div>
                    </div>
                    <div class="clk">
                        <span class="h3">3</span>
                        <span class="h6">6</span>
                        <span class="h9">9</span>
                        <span class="h12">12</span>
                    </div>
                    <div class="diallines"></div>
                </div>






                @*<div id="chartContainer" style="height: 577px; width: 745px;">*@
            </div>
        </div>
    </div>
    <script src="~/Content/js/Clock.js"></script>



    @if (User.IsInRole(UserRoles.Admin) || User.IsInRole(UserRoles.PreSale) || User.IsInRole(UserRoles.Lead_Sales) || User.IsInRole(UserRoles.Pmd_Feasibility))
    {
        <!--<div class="jumbotron">
        <div class="row">
            <div class="col-lg-3 col-sm-12 col-md-6 col-xs-12">
                <div class="panel hvr-glow">
                    <div class="panel-heading crd-heading-bg-color">
                        <h3 class="panel-title text-uppercase">
                            <b>Leads</b><span class="float-right" style="padding-right:0px!important;">({{UserReportData.TotalLeadsData.TotalCountOfLeads}})</span>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div col-4>
                            Open<span class="label text-capitalize float-right Open Badge-Width">{{UserReportData.TotalLeadsData.TotalOpenLeads}}</span>
                        </div>
                        <div col-4>
                            Complete<span class="label label-success text-capitalize float-right Badge-Width">{{UserReportData.TotalLeadsData.TotalCompletedLeads}}</span>
                        </div>
                        <div col-4>
                            Cancelled<span class="label label-danger text-capitalize float-right Badge-Width">{{UserReportData.TotalLeadsData.TotalCancelledLeads}}</span>
                        </div>
                    </div>
                    <div class="panel-footer text-center text-capitalize" style="padding: 0;">See More <span class="fa fa-chevron-circle-right"></span></div>
                </div>
            </div>-->
        @*Card 2*@
        <!--<div class="col-lg-3 col-sm-12 col-md-6 col-xs-12">
            <div class="panel hvr-glow">
                <div class="panel-heading crd-heading-bg-color">
                    <h3 class="panel-title text-uppercase"><b>Leads Feasibility</b></h3>
                </div>
                <div class="panel-body">
                    <div col-4>
                        Pending<span class="label label-warning text-capitalize float-right Badge-Width">{{UserReportData.TotalLeadsData.TotalPendingByPMDLeads}}</span>
                    </div>
                    <div col-4>
                        Feasible<span class="label label-success text-capitalize float-right Badge-Width">{{UserReportData.TotalLeadsData.TotalFeasibleLeads}}</span>
                    </div>
                    <div col-4>
                        Not-Feasible<span class="label label-danger text-capitalize float-right Badge-Width">{{UserReportData.TotalLeadsData.TotalNotFeasibleLeads}}</span>
                    </div>
                </div>
                <div class="panel-footer text-center text-capitalize" style="padding: 0;">See More <span class="fa fa-chevron-circle-right"></span></div>
            </div>
        </div>-->
        @* Card 03 *@
        <!--<div class="col-lg-3 col-sm-12 col-md-6 col-xs-12">
            <div class="panel hvr-glow">
                <div class="panel-heading crd-heading-bg-color">
                    <h3 class="panel-title text-uppercase"><b>Quotation Status</b></h3>
                </div>
                <div class="panel-body">
                    <div col-4>
                        Pending<span class="label label-warning text-capitalize float-right Badge-Width">{{UserReportData.TotalLeadsData.TotalPendingByPreSale}}</span>
                    </div>
                    <div col-4>
                        Submitted<span class="label label-success text-capitalize float-right Badge-Width">{{UserReportData.TotalLeadsData.TotalSubmittedByPreSale}}</span>
                    </div>
                    <div col-4>
                        Reverted<span class="label label-danger text-capitalize float-right Badge-Width" title="PMD = {{UserReportData.TotalLeadsData.TotalRTPByPMDLeads}}, Sales = {{UserReportData.TotalLeadsData.TotalRTSByPreSale}}">{{UserReportData.TotalLeadsData.TotalRevertedByPreSale}}</span>
                    </div>
                </div>
                <div class="panel-footer text-center text-capitalize" style="padding: 0;">See More <span class="fa fa-chevron-circle-right"></span></div>
            </div>
        </div>-->
        @*Card 04*@
        <!--<div class="col-lg-3 col-sm-12 col-md-6 col-xs-12">
                    <div class="panel hvr-glow">
                        <div class="panel-heading crd-heading-bg-color">
                            <h3 class="panel-title text-uppercase"><b>Leads Approval</b></h3>
                        </div>
                        <div class="panel-body">
                            <div col-4>
                                Pending<span class="label label-warning text-capitalize float-right Badge-Width">{{UserReportData.TotalLeadsData.TotalPendingByAdminLeads}}</span>
                            </div>
                            <div col-4>
                                Approved<span class="label label-success text-capitalize float-right Badge-Width">{{UserReportData.TotalLeadsData.TotalApprovedLeads}}</span>
                            </div>
                            <div col-4>
                                Not-Approved<span class="label label-danger text-capitalize float-right Badge-Width">{{UserReportData.TotalLeadsData.TotalNotApprovedLeads}}</span>
                            </div>
                        </div>
                        <div class="panel-footer text-center text-capitalize" style="padding: 0;">See More <span class="fa fa-chevron-circle-right"></span></div>
                    </div>
                </div>
            </div>
            <br />

            <div class="row" style="padding-bottom:12px;">
                <div class="col-md-12 col-sm-12">
                    <div class="pull-right">
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-default">today</button>
                            <button type="button" class="btn btn-default">this week</button>
                            <button type="button" class="btn btn-default">this Month</button>
                            <a href="#" class="btn btn-default" data-toggle="modal" data-target="#DateModel" title="Custom Date"><i class="far fa-calender"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel hvr-glow">
                        <div class="panel-heading pb-0 table-head">
                            <h4 class="text-capitalize">Sales Leads</h4>
                        </div>
                        <div class="panel-body">
                            <canvas id="bar" class="chart chart-bar"
                                    chart-data="data_SalesLeads" chart-labels="labels_SalesLeads"
                                    chart-series="series_SalesLeads">
                            </canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel hvr-glow">
                        <div class="panel-heading pb-0 table-head">
                            <h4 class="text-capitalize">Feasible Leads</h4>
                        </div>
                        <div class="panel-body">
                            <canvas id="bar" class="chart chart-bar"
                                    chart-data="data_PMDLeads" chart-labels="labels_PMDLeads"
                                    chart-series="series_PMDLeads">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel hvr-glow">
                        <div class="panel-heading pb-0 table-head">
                            <h4 class="text-capitalize">Quotation Leads</h4>
                        </div>
                        <div class="panel-body">
                            <canvas id="bar" class="chart chart-bar"
                                    chart-data="data_QuotationLeads" chart-labels="labels_QuotationLeads"
                                    chart-series="series_QuotationLeads">
                            </canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel hvr-glow">
                        <div class="panel-heading pb-0 table-head">
                            <h4 class="text-capitalize">Approved Leads</h4>
                        </div>
                        <div class="panel-body">
                            <canvas id="bar" class="chart chart-bar"
                                    chart-data="data_ApprovedLeads" chart-labels="labels_ApprovedLeads"
                                    chart-series="series_ApprovedLeads">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
    }
    @if (User.IsInRole(UserRoles.Accounts))
    {
        <!--<div class="jumbotron">
        <div class="row">
            <div class="col-lg-3 col-sm-12 col-md-6 col-xs-12">
                <div class="panel hvr-glow">
                    <div class="panel-heading crd-heading-bg-color">
                        <h3 class="panel-title text-uppercase">
                            <b>Invoice</b><span class="float-right" style="padding-right:0px!important;">({{UserReportData.TotalLeadsData.TotalCountOfLeads}})</span>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div col-4>
                            Pending<span class="label text-capitalize float-right Open Badge-Width">{{UserReportData.TotalLeadsData.TotalOpenLeads}}</span>
                        </div>
                        <div col-4>
                            Complete<span class="label label-success text-capitalize float-right Badge-Width">{{UserReportData.TotalLeadsData.TotalCompletedLeads}}</span>
                        </div>
                        <div col-4>
                            Reversed<span class="label label-danger text-capitalize float-right Badge-Width">{{UserReportData.TotalLeadsData.TotalCancelledLeads}}</span>
                        </div>
                    </div>
                    <div class="panel-footer text-center text-capitalize" style="padding: 0;">See More <span class="fa fa-chevron-circle-right"></span></div>
                </div>
            </div>-->
        @*Card 2*@
        <!--<div class="col-lg-3 col-sm-12 col-md-6 col-xs-12">
            <div class="panel hvr-glow">
                <div class="panel-heading crd-heading-bg-color">
                    <h3 class="panel-title text-uppercase"><b>Account</b></h3>
                </div>
                <div class="panel-body">
                    <div col-4>
                        Active<span class="label label-warning text-capitalize float-right Badge-Width">{{UserReportData.TotalAccountData.TotalActiveAccounts}}</span>
                    </div>
                    <div col-4>
                        In-Active<span class="label label-success text-capitalize float-right Badge-Width">{{UserReportData.TotalAccountData.TotalInActiveAccount}}</span>
                    </div>
                    <div col-4>
                        Total Accounts<span class="label label-danger text-capitalize float-right Badge-Width">{{UserReportData.TotalAccountData.TotalCountOfAccounts}}</span>
                    </div>
                </div>
                <div class="panel-footer text-center text-capitalize" style="padding: 0;">See More <span class="fa fa-chevron-circle-right"></span></div>
            </div>
        </div>-->
        @* Card 03 *@
        <!--<div class="col-lg-3 col-sm-12 col-md-6 col-xs-12">
            <div class="panel hvr-glow">
                <div class="panel-heading crd-heading-bg-color">
                    <h3 class="panel-title text-uppercase"><b>Payment</b></h3>
                </div>
                <div class="panel-body">
                    <div col-4>
                        Pending<span class="label label-warning text-capitalize float-right Badge-Width">{{UserReportData.TotalLeadsData.TotalPendingByPreSale}}</span>
                    </div>
                    <div col-4>
                        Completed<span class="label label-success text-capitalize float-right Badge-Width">{{UserReportData.TotalLeadsData.TotalSubmittedByPreSale}}</span>
                    </div>
                    <div col-4>
                        Total Number Of Payment<span class="label label-danger text-capitalize float-right Badge-Width" title="PMD = {{UserReportData.TotalLeadsData.TotalRTPByPMDLeads}}, Sales = {{UserReportData.TotalLeadsData.TotalRTSByPreSale}}">{{UserReportData.TotalLeadsData.TotalRevertedByPreSale}}</span>
                    </div>
                </div>
                <div class="panel-footer text-center text-capitalize" style="padding: 0;">See More <span class="fa fa-chevron-circle-right"></span></div>
            </div>
        </div>-->
        @*Card 04*@
        <!--<div class="col-lg-3 col-sm-12 col-md-6 col-xs-12">
                    <div class="panel hvr-glow">
                        <div class="panel-heading crd-heading-bg-color">
                            <h3 class="panel-title text-uppercase"><b>Company Billing</b></h3>
                        </div>
                        <div class="panel-body">
                            <div col-4>
                                Enable<span class="label label-warning text-capitalize float-right Badge-Width">{{UserReportData.TotalLeadsData.TotalPendingByAdminLeads}}</span>
                            </div>
                            <div col-4>
                                Disable<span class="label label-success text-capitalize float-right Badge-Width">{{UserReportData.TotalLeadsData.TotalApprovedLeads}}</span>
                            </div>
                            <div col-4>
                                Total Number of Active Billing<span class="label label-danger text-capitalize float-right Badge-Width">{{UserReportData.TotalLeadsData.TotalNotApprovedLeads}}</span>
                            </div>
                        </div>
                        <div class="panel-footer text-center text-capitalize" style="padding: 0;">See More <span class="fa fa-chevron-circle-right"></span></div>
                    </div>
                </div>
            </div>
            <br />

            <div class="row" style="padding-bottom:12px;">
                <div class="col-md-12 col-sm-12">
                    <div class="pull-right">
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-default">today</button>
                            <button type="button" class="btn btn-default">this week</button>
                            <button type="button" class="btn btn-default">this Month</button>
                            <a href="#" class="btn btn-default" data-toggle="modal" data-target="#DateModel" title="Custom Date"><i class="far fa-calender"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel hvr-glow">
                        <div class="panel-heading pb-0 table-head">
                            <h4 class="text-capitalize">Active Accounts</h4>
                        </div>
                        <div class="panel-body">
                            <canvas id="bar" class="chart chart-bar"
                                    chart-data="data_Accounts" chart-labels="labels_Accounts"
                                    chart-series="series_Accounts">
                            </canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel hvr-glow">
                        <div class="panel-heading pb-0 table-head">
                            <h4 class="text-capitalize">Accounts Termination VS Activation</h4>
                        </div>
                        <div class="panel-body">
                            <canvas id="bar" class="chart chart-bar"
                                    chart-data="data_PMDLeads" chart-labels="labels_PMDLeads"
                                    chart-series="series_PMDLeads">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel hvr-glow">
                        <div class="panel-heading pb-0 table-head">
                            <h4 class="text-capitalize">Revenue</h4>
                        </div>
                        <div class="panel-body">
                            <canvas id="bar" class="chart chart-bar"
                                    chart-data="data_QuotationLeads" chart-labels="labels_QuotationLeads"
                                    chart-series="series_QuotationLeads">
                            </canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel hvr-glow">
                        <div class="panel-heading pb-0 table-head">
                            <h4 class="text-capitalize">Collection</h4>
                        </div>
                        <div class="panel-body">
                            <canvas id="bar" class="chart chart-bar"
                                    chart-data="data_ApprovedLeads" chart-labels="labels_ApprovedLeads"
                                    chart-series="series_ApprovedLeads">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
    }


</div>
    <!-- Modal -->
    <!--<div id="DateModel" class="modal fade" role="dialog">
        <div class="modal-dialog">-->
    <!-- Modal content-->
    <!--<div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Select Date</h4>
                </div>
                <div class="">
                    <form id="AssignmentForm ">
                        <div class="form-group">
                            <div class="col-md-6">
                                <label>Date</label>
                                <input type="date" class="form-control" ng-model="Date" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" style=" margin-top: 25px;" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary" style=" margin-top: 25px;" data-dismiss="modal" ng-click="GetDataForCustomDate(Date)">Get</button>
                </div>
            </div>
        </div>
    </div>-->

