@using Microsoft.AspNet.Identity;
@using UserRoles = AMS.Models.Enums.Roles;
@{
    ViewBag.Title = "Home Page";

}
<link href="~/Content/CardStyle.css" rel="stylesheet" />
<link href="~/Content/Clock.css" rel="stylesheet" />

<div class="container-fluid" ng-controller="ProfileCtrl" ng-init="InitIndex()">
    <div class="clearfix">
        <h3 class="pull-left"></h3>
    </div>
    <div>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-xl-4">
                    <div class="card bg-c-pink order-card boxsize">
                        <div class="card-block">
                            <h4 class="m-b-20 mb-2  text-center mt-4" ng-if="!User.IsAbsent && !User.IsHoliday">Today's Sign In Time </h4>
                            <h2 class="text-center" ng-if="!User.IsAbsent && !User.IsHoliday"><i class="fa fa-clock f-center"></i><span class="ml-1">{{User.TodayClockIn | date:'hh:mm a'}}</span></h2>
                            <div class="text-center">
                                <p class="m-b-0" ng-if="User.IsLate">You are late today</p>
                                <p class="m-b-0" ng-if="User.IsAbsent">You are absent today</p>
                                <p class="m-b-0" ng-if="User.IsExcused">You are excused today for being late</p>
                                <p class="m-b-0" ng-if="User.IsPresent">You are on time today</p>
                                <p class="m-b-0" ng-if="User.IsHoliday">Enjoy! It's a holiday today....</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xl-4">
                    <div class="card bg-c-yellow order-card boxsize">
                        <div class="card-block">
                            <h6 class="m-b-20"></h6>
                            <h4 class="m-b-20 mb-4  text-center mt-2">Leaves</h4>
                            <div class="text-center mr-5">
                                <p class="m-b-0">Total Leaves Left <span class="f-right">{{User.RemainingLeaves}}/30</span></p>
                                <p class="m-b-0">Annual Leaves <span class="f-right">{{User.AnnualLeaves}}/20</span></p>
                                <p class="m-b-0">Medical Leaves <span class="f-right">{{User.MedicalLeaves}}/10</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xl-4">
                    <div class="card bg-c-green order-card boxsize">
                        <div class="card-block">
                            <h4 class="m-b-20 mb-2  text-center"><b>This Month</b></h4>
                            <div class="text-center" style="margin-right: 80px;">
                                <p class="m-b-0">On Time<span class="f-right">{{User.PresentCount}}</span></p>
                                <p class="m-b-0">Late<span class="f-right">{{User.LateCount}}</span></p>
                                <p class="m-b-0">Excused<span class="f-right">{{User.ExcusedCount}}</span></p>
                                <p class="m-b-0">Absent<span class="f-right">{{User.AbsentCount}}</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 mb-3">
                    <div class="profile-card-4 z-depth-3">
                        <div class="card">
                            <div class="card-body text-center bg-primary rounded-top">
                                <div class="user-box">
                                    <img ng-if="UserIdentity.ImageUrl == null || UserIdentity.ImageUrl == '' " src="~/Content/Image/userImageAvatar.jpg" />
                                    <img ng-if="UserIdentity.ImageUrl !=null && UserIdentity.ImageUrl != '' " src={{UserIdentity.ImageUrl}} />
                                </div>
                                <h5 class="mb-1 text-white">{{User.FirstName}} {{User.LastName}}</h5>
                                @*<h6 class="text-light">{{User.DepartmentEnum}}</h6>*@
                            </div>
                            <div class="card-body">
                                <ul class="list-group shadow-none">
                                    <li class="list-group-item">
                                        <div class="list-icon">
                                            <i class="fa fa-phone-square"></i>
                                        </div>
                                        <div class="list-details">
                                            <span>{{TempUser.Contact1}}</span>
                                            <small>Mobile Number</small>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="list-icon">
                                            <i class="fa fa-envelope"></i>
                                        </div>
                                        <div class="list-details">
                                            <span>{{TempUser.Email}}</span>
                                            <small>Email Address</small>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="list-icon">
                                            <i class="fa fa-home"></i>
                                        </div>
                                        <div class="list-details">
                                            <span>{{TempUser.Address}}</span>
                                            <small>Address</small>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <style>
                    .clock {
                        background: #ececec;
                        width: 300px;
                        height: 300px;
                        margin: 2% auto 0 5%;
                        border-radius: 50%;
                        border: 1px solid #333;
                        position: relative;
                        box-shadow: 0 2vw 4vw -1vw rgba(0,0,0,0.8);
                    }

                    .dot {
                        width: 14px;
                        height: 14px;
                        border-radius: 50%;
                        background: #ccc;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        margin: auto;
                        position: absolute;
                        z-index: 10;
                        box-shadow: 0 2px 4px -1px black;
                    }

                    .hour-hand {
                        position: absolute;
                        z-index: 5;
                        width: 4px;
                        height: 65px;
                        background: #333;
                        top: 79px;
                        transform-origin: 50% 72px;
                        left: 50%;
                        margin-left: -2px;
                        border-top-left-radius: 50%;
                        border-top-right-radius: 50%;
                    }

                    .minute-hand {
                        position: absolute;
                        z-index: 6;
                        width: 4px;
                        height: 100px;
                        background: #666;
                        top: 46px;
                        left: 50%;
                        margin-left: -2px;
                        border-top-left-radius: 50%;
                        border-top-right-radius: 50%;
                        transform-origin: 50% 105px;
                    }

                    .second-hand {
                        position: absolute;
                        z-index: 7;
                        width: 2px;
                        height: 120px;
                        background: gold;
                        top: 26px;
                        lefT: 50%;
                        margin-left: -1px;
                        border-top-left-radius: 50%;
                        border-top-right-radius: 50%;
                        transform-origin: 50% 125px;
                    }

                    .clk span {
                        display: inline-block;
                        position: absolute;
                        color: #333;
                        font-size: 22px;
                        font-family: 'Poiret One';
                        font-weight: 700;
                        z-index: 4;
                    }

                    .h12 {
                        top: 30px;
                        left: 50%;
                        margin-left: -9px;
                    }

                    .h3 {
                        top: 140px;
                        right: 30px;
                    }

                    .h6 {
                        bottom: 30px;
                        left: 50%;
                        margin-left: -5px;
                    }

                    .h9 {
                        left: 32px;
                        top: 140px;
                    }

                    .diallines {
                        position: absolute;
                        z-index: 2;
                        width: 2px;
                        height: 15px;
                        background: #666;
                        left: 50%;
                        margin-left: -1px;
                        transform-origin: 50% 150px;
                    }

                        .diallines:nth-of-type(5n) {
                            position: absolute;
                            z-index: 2;
                            width: 4px;
                            height: 25px;
                            background: #666;
                            left: 50%;
                            margin-left: -1px;
                            transform-origin: 50% 150px;
                        }

                    .info {
                        position: absolute;
                        width: 120px;
                        height: 20px;
                        border-radius: 7px;
                        background: #ccc;
                        text-align: center;
                        line-height: 20px;
                        color: #000;
                        font-size: 11px;
                        top: 200px;
                        left: 50%;
                        margin-left: -60px;
                        font-family: "Poiret One";
                        font-weight: 700;
                        z-index: 3;
                        letter-spacing: 3px;
                        margin-left: -60px;
                        left: 50%;
                    }

                    .date {
                        top: 80px;
                    }

                    .day {
                        top: 200px;
                    }
                </style>
                <div class="clock">
                    <div>
                        <div class="info date"></div>
                        <div class="info day"></div>
                    </div>
                    <div class="dot"></div>
                    <div>
                        <div class="hour-hand"></div>
                        <div class="minute-hand"></div>
                        <div class="second-hand"></div>
                    </div>
                    <div class="clk">
                        <span class="h3">3</span>
                        <span class="h6">6</span>
                        <span class="h9">9</span>
                        <span class="h12">12</span>
                    </div>
                    <div class="diallines"></div>
                </div>
             </div>
        </div>
    </div>
    <script src="~/Content/js/Clock.js"></script>
</div>

