@{
    ViewBag.Title = "Add";
}

<link href="~/Content/CardStyle.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="~/Content/css/normalize.css" />
<link rel="stylesheet" type="text/css" href="~/Content/css/demo.css" />
<link rel="stylesheet" type="text/css" href="~/Content/css/tabs.css" />
<link rel="stylesheet" type="text/css" href="~/Content/css/tabstyles.css" />


<script src="~/Content/js1/modernizr.custom.js"></script>
<!-- Main Style Css -->
<link rel="stylesheet" href="css/style.css" />
<div class="container-fluid" ng-controller="UserCtrl" ng-init="AddInit()">
    <h3 class="mt-4">Add User</h3>
    <section>
        <div class="tabs tabs-style-tzoid">
            <nav>
                <ul>
                    <li><a href="#section-tzoid-1"><span>Profile</span></a></li>
                    <li><a href="#section-tzoid-2"><span>Upload</span></a></li>
                </ul>
            </nav>
            <div class="content-wrap">
                <section id="section-tzoid-1">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card z-depth-3">
                                <div class="card-body">
                                    <div class="tab-content p-3">
                                        <div class="tab-pane active" id="edit">
                                            <form class="p-3">
                                                <div class="row">
                                                    <div class="form-group col-md-3">
                                                        <label class="required">First Name</label>
                                                        <input type="text" class="form-control" ng-model="User.FirstName" />
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        <label class="required">Last Name</label>
                                                        <input type="text" class="form-control" ng-model="User.LastName" />
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        <label>Address</label>
                                                        <input type="text" class="form-control" ng-model="User.Address" />
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        <label class="required">Primary Contact</label>
                                                        <input type="text" maxlength="11" ng-change="IsContactNumber1()" class="form-control" ng-model="User.Contact1" placeholder="11 digit number" />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-3">
                                                        <label>Alternate Contact</label>
                                                        <input type="text" maxlength="11" ng-change="IsContactNumber2()" class="form-control" ng-model="User.Contact2" placeholder="11 digit number" />
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        <label class="required">Email</label>
                                                        <input type="email" class="form-control" ng-model="User.Email" />
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        <label class="required">Remaining Leaves</label>
                                                        <input type="number" class="form-control" min="0" max="30" value="30" onkeydown="return false" ng-model="User.RemainingLeaves" />
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        <label class="required">Annual Leaves</label>
                                                        <input type="number" class="form-control" min="0" max="20" value="20" onkeydown="return false" ng-model="User.AnnualLeaves" />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-3">
                                                        <label class="required">Medical Leaves</label>
                                                        <input type="number" class="form-control" min="0" max="10" value="10" onkeydown="return false" ng-model="User.MedicalLeaves" />
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        <div class="">
                                                            <label class="required">Department</label>
                                                            <select ng-model="User.DepartmentId" class="form-control" ng-change="GetPositionsByDepartmentId(User.DepartmentId)">
                                                                <option disabled selected value="">Select Department</option>
                                                                <option ng-repeat="Department in Departments" ng-selected="Department.Id == User.DepartmentId" value="{{Department.Id}}">{{Department.Name}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        <label class="required">Password</label>
                                                        <input type="password" class="form-control" ng-model="User.Password" />
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        <label class="required">Confirm Password</label>
                                                        <input type="password" class="form-control" ng-model="User.ConfirmPassword" />
                                                    </div>
                                                </div>
                                                <!--<div class="row">-->
                                                @*<div class="form-group col-md-3">
            <div class="">
                <label>Position</label>
                <select ng-model="User.Position" class="form-control">
                    <option disabled selected value="">Select Position</option>
                    <option ng-repeat="Position in PositionDropDown" value="{{Position}}">{{Position.PositionName}}</option>
                </select>
            </div>
        </div>*@
                                                <!--</div>-->
                                                <div class="row">
                                                    <div class="form-group col-md-3">
                                                        <label>Gross Salary</label>
                                                        <input type="number" class="form-control" min="0" ng-model="User.Salary" />
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        <div class="">
                                                            <label>Taxes</label>
                                                            <ui-select multiple sortable="true" ng-model="User.Taxes" theme="select2" class="form-control" title="Choose tax">
                                                                <ui-select-match placeholder="Select or search a tax in the list...">{{$item.Name}}</ui-select-match>
                                                                <ui-select-choices repeat="Tax in TaxesList | filter: $select.search">
                                                                    <div ng-bind-html="Tax.Name | highlight: $select.search"></div>
                                                                </ui-select-choices>
                                                            </ui-select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        <div class="">
                                                            <label>Deductions</label>
                                                            <ui-select multiple sortable="true" ng-model="User.Deductions" theme="select2" class="form-control" title="Choose deduction">
                                                                <ui-select-match placeholder="Select or search a deduction in the list...">{{$item.Name}}</ui-select-match>
                                                                <ui-select-choices repeat="Deduction in DeductionsList | filter: $select.search">
                                                                    <div ng-bind-html="Deduction.Name | highlight: $select.search"></div>
                                                                </ui-select-choices>
                                                            </ui-select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        <div class="">
                                                            <label>Incentives</label>
                                                            <ui-select multiple sortable="true" ng-model="User.Incentives" theme="select2" class="form-control" title="Choose incentive">
                                                                <ui-select-match placeholder="Select or search an incentive in the list...">{{$item.Name}}</ui-select-match>
                                                                <ui-select-choices repeat="Incentive in IncentivesList | filter: $select.search">
                                                                    <div ng-bind-html="Incentive.Name | highlight: $select.search"></div>
                                                                </ui-select-choices>
                                                            </ui-select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-3">
                                                        <div class="">
                                                            <label class="required">Shift</label>
                                                            <select ng-model="User.ShiftId" class="form-control">
                                                                <option disabled selected value="">Select Shift</option>
                                                                <option ng-repeat="Shift in ShiftsList" ng-selected="Shift.Id == User.ShiftId" value="{{Shift.Id}}">{{Shift.Name}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-3" style="margin-top: 42px;">
                                                        <label>Has Supervisor</label>
                                                        <input type="checkbox" class="" ng-model="User.HasSupervisor" ng-change="CheckForDepartment(User.DepartmentId)" />
                                                    </div>
                                                    <div class="form-group col-md-3" ng-if="User.HasSupervisor">
                                                        <label>Supervisor</label>
                                                        <select ng-model="User.SupervisorId" class="form-control">
                                                            <option disabled selected value="">Select Supervisor</option>
                                                            <option ng-repeat="Supervisor in Supervisors" value="{{Supervisor.Id}}">{{Supervisor.Name}}</option>
                                                        </select>
                                                    </div>
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="section-tzoid-2">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card z-depth-3">
                                <div class="card-body">
                                    <div class="tab-content p-3">
                                        <div class="tab-pane active" id="edit">
                                            <form class="p-3">
                                                <div class="row">
                                                    <div class="form-group col-md-6 text-left">
                                                        <label>Resume</label>
                                                        <a target="_blank" ng-if="User.Docs[0].Url && User.Docs[0].Url != ''" href="{{User.Docs[0].Url}}" class="ml-3">{{User.Docs[0].SubTitle}}</a>
                                                        <input ng-if="!User.Docs[0].Url || User.Docs[0].Url == ''" type="file" ngf-select="UploadFile($files, 'Resume')" class="form-control" />
                                                        <span>
                                                            <a ng-if="User.Docs[0].Url && User.Docs[0].Url != ''" href="" ng-click="RemoveUploadedFile('Resume')" class="ml-2"><i class="fas fa-trash-alt text-danger"></i></a>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-6 text-left">
                                                        <label>CNIC front</label>
                                                        <a target="_blank" ng-if="User.Docs[1].Url && User.Docs[1].Url != ''" href="{{User.Docs[1].Url}}" class="ml-3">{{User.Docs[1].SubTitle}}</a>
                                                        <input ng-if="!User.Docs[1].Url || User.Docs[1].Url == ''" type="file" ngf-select="UploadFile($files, 'CNIC front')" class="form-control" />
                                                        <span>
                                                            <a ng-if="User.Docs[1].Url && User.Docs[1].Url != ''" href="" ng-click="RemoveUploadedFile('CNIC front')" class="ml-2"><i class="fas fa-trash-alt text-danger"></i></a>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-6 text-left">
                                                        <label>CNIC back</label>
                                                        <a target="_blank" ng-if="User.Docs[2].Url && User.Docs[2].Url != ''" href="{{User.Docs[2].Url}}" class="ml-3">{{User.Docs[2].SubTitle}}</a>
                                                        <input ng-if="!User.Docs[2].Url || User.Docs[2].Url == ''" type="file" ngf-select="UploadFile($files, 'CNIC back')" class="form-control" />
                                                        <span>
                                                            <a ng-if="User.Docs[2].Url && User.Docs[2].Url != ''" href="" ng-click="RemoveUploadedFile('CNIC back')" class="ml-2"><i class="fas fa-trash-alt text-danger"></i></a>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-6 text-left">
                                                        <label>Appointment Letter</label>
                                                        <a target="_blank" ng-if="User.Docs[3].Url && User.Docs[3].Url != ''" href="{{User.Docs[3].Url}}" class="ml-3">{{User.Docs[3].SubTitle}}</a>
                                                        <input ng-if="!User.Docs[3].Url || User.Docs[3].Url == ''" type="file" ngf-select="UploadFile($files, 'Appointment Letter')" class="form-control" />
                                                        <span>
                                                            <a ng-if="User.Docs[3].Url && User.Docs[3].Url != ''" href="" ng-click="RemoveUploadedFile('Appointment Letter')" class="ml-2"><i class="fas fa-trash-alt text-danger"></i></a>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-6 text-left">
                                                        <label>Educational Documents</label>
                                                        <div ng-repeat="row in User.EducationalDocs">
                                                            <a target="_blank" ng-if="row.Url && row.Url != ''" href="{{row.Url}}" class="ml-3">{{row.SubTitle}}</a>
                                                            <input ng-if="!row.Url || row.Url == ''" type="file" ngf-select="UploadEducationalFile($files, 'Educational', $index)" class="form-control mt-3" />
                                                            <span>
                                                                <a ng-if="row.Url && row.Url != ''" href="" ng-click="RemoveUploadedEducationalFile($index)" class="ml-2"><i class="fas fa-trash-alt text-danger"></i></a>
                                                            </span>
                                                        </div>
                                                        <br />
                                                        <div class="col-md-7">
                                                            <button ng-click="AddEducationalDocRow()"><i class="fas fa-plus"></i> Add</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-6 text-left">
                                                        <label>Certifications & Courses</label>
                                                        <div ng-repeat="row in User.Certificates">
                                                            <a target="_blank" ng-if="row.Url && row.Url != ''" href="{{row.Url}}" class="ml-3">{{row.SubTitle}}</a>
                                                            <input ng-if="!row.Url || row.Url == ''" type="file" ngf-select="UploadCertificate($files, 'Certifications', $index)" class="form-control mt-3" />
                                                            <span>
                                                                <a ng-if="row.Url && row.Url != ''" href="" ng-click="RemoveUploadedCertificate($index)" class="ml-2"><i class="fas fa-trash-alt text-danger"></i></a>
                                                            </span>
                                                        </div>
                                                        <br />
                                                        <div class="col-md-7">
                                                            <button ng-click="AddCertificateRow()"><i class="fas fa-plus"></i> Add</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <button type="button" class="btn btn-success float-right" ng-click="AddUser(User)">Add User</button>
                                                        <a href="/User/" title="Cancel" class="btn btn-danger float-right">Cancel</a>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div><!-- /content -->
        </div><!-- /tabs -->
    </section>
</div><!-- /container -->

<script src="~/Content/js1/cbpFWTabs.js"></script>
<script>
    (function () {
        [].slice.call(document.querySelectorAll('.tabs')).forEach(function (el) {
            new CBPFWTabs(el);
        });
    })();
</script>
<style>
    .required:after {
        content: " *";
        color: red;
    }
</style>

