@{
    ViewBag.Title = "Edit";
}
<!--<div ng-controller="UserCtrl" ng-init="EditInit()">
    <div class="jumbotron PageHeading">
        <div class="row"><div class="col-md-3"><h2>Edit User</h2></div></div>
    </div>
    <div class="jumbotron PageHeading">
        <div class="row">
            <form id="VendorAddForm ">
                <div class="form-group">
                    <div class="col-md-3">
                        <label>First Name</label>
                        <input type="text" class="form-control" ng-model="User.FirstName" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>Last Name</label>
                        <input type="text" class="form-control" ng-model="User.LastName" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>Address</label>
                        <input type="text" class="form-control" ng-model="User.Address" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>Email</label>
                        <input type="email" class="form-control" ng-model="User.Email" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>Primary Contact</label>
                        <input type="text" class="form-control" ng-model="User.Contact1" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>Alternate Contact</label>
                        <input type="text" class="form-control" ng-model="User.Contact2" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>Department</label>
                        <select ng-model="User.DepartmentId" class="form-control" ng-change="GetUsersByDepartmentId(User.DepartmentId)">
                            <option selected value="">Select Department</option>
                            <option ng-repeat="Department in Departments" ng-selected="Department.Id == User.DepartmentId" value="{{Department.Id}}">{{Department.Name}}</option>
                        </select>
                    </div>
                </div>-->
@*<div class="form-group">
        <div class="col-md-3">
            <label>Password</label>
            <input type="password" class="form-control" ng-model="User.Password" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <label>Confirm Password</label>
            <input type="password" class="form-control" ng-model="User.ConfirmPassword" />
        </div>
    </div>*@

<!--<div class="form-group">
                    <div class="col-md-3">
                        <label>Remaining Leaves</label>
                        <input type="number" class="form-control" min="0" max="30" onkeydown="return false" ng-model="User.RemainingLeaves" />
                    </div>
                </div>
                <div class="form-group" ng-if="User.HasSupervisor">
                    <div class="col-md-3">
                        <label>Superviosr</label>
                        <select ng-model="User.SupervisorId" class="form-control">
                            <option selected value="">Select Supervisor</option>
                            <option ng-repeat="Supervisor in Supervisors" ng-selected="Supervisor.Id == User.SupervisorId" value="{{Supervisor.Id}}">{{Supervisor.Name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>Has Supervisor</label>
                        <input type="checkbox" class="" ng-model="User.HasSupervisor" ng-change="CheckForDepartment(User.DepartmentId)" />
                    </div>
                </div>
            </form>
        </div>
        <div class="row float-right">
            <button class="btn btn-primary" ng-click="EditUser(User)">Update</button>
        </div>
    </div>

</div>-->
<div class="container-fluid" ng-controller="UserCtrl" ng-init="EditInit()">
    <h3 class="mt-4">Edit User</h3>
    <div class="row">
        <div class="col-lg-12">
            <div class="card z-depth-3">
                <div class="card-body">

                    <div class="tab-content p-3">


                        <div class="tab-pane active" id="edit">
                            <form class="p-3">
                                <div class="row">
                                    <div class="form-group col-md-3">
                                        <label>First Name</label>
                                        <input type="text" class="form-control" ng-model="User.FirstName" readonly />
                                    </div>

                                    <div class="form-group col-md-3">
                                        <label>Last Name</label>
                                        <input type="text" class="form-control" ng-model="User.LastName" readonly/>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>Address</label>
                                        <input type="text" class="form-control" ng-model="User.Address" />
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>Email</label>
                                        <input type="email" class="form-control" ng-model="User.Email" readonly/>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="form-group col-md-3">
                                        <label>Primary Contact</label>
                                        <input type="text" class="form-control" ng-model="User.Contact1" />
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>Alternate Contact</label>
                                        <input type="text" class="form-control" ng-model="User.Contact2" />
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>Remaining Leaves</label>
                                        <input type="number" class="form-control" min="0" max="30" onkeydown="return false" ng-model="User.RemainingLeaves" />
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>Annual Leaves</label>
                                        <input type="number" class="form-control" min="0" max="20" onkeydown="return false" ng-model="User.AnnualLeaves" />
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>Medical Leaves</label>
                                        <input type="number" class="form-control" min="0" max="10" onkeydown="return false" ng-model="User.MedicalLeaves" />
                                    </div>
                                    <div class="form-group col-md-3">
                                        <div class="">
                                            <label>Department</label>
                                            <select ng-model="User.DepartmentId" class="form-control" ng-change="GetUsersByDepartmentId(User.DepartmentId)">
                                                <option disabled selected value="">Select Department</option>
                                                <option ng-repeat="Department in Departments" ng-selected="Department.Id == User.DepartmentId" value="{{Department.Id}}">{{Department.Name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <div class="">
                                            <label>Shift</label>
                                            <select ng-model="User.ShiftId" class="form-control">
                                                <option disabled selected value="">Select Shift</option>
                                                <option ng-repeat="Shift in ShiftsList" ng-selected="Shift.Id == User.ShiftId" value="{{Shift.Id}}">{{Shift.Name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3" ng-if="User.HasSupervisor">
                                        <select ng-model="User.SupervisorId" class="form-control">
                                            <option selected value="">Select Supervisor</option>
                                            <option ng-repeat="Supervisor in Supervisors" value="{{Supervisor.Id}}">{{Supervisor.Name}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>Has Supervisor</label>
                                        <input type="checkbox" class="" ng-model="User.HasSupervisor" ng-change="CheckForDepartment(User.DepartmentId)" />
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>Password</label>
                                        <input type="password" class="form-control" ng-model="User.Password" />
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>Confirm Password</label>
                                        <input type="password" class="form-control" ng-model="User.ConfirmPassword" />
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Profile Photo</label>
                                        <input type="file" accept="image/*" ngf-select="UploadUserImage($files,'ImageUrl')" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <img style="  max-height: 413px;max-width:200px" src="{{User.ImageUrl}}" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button type="button" class="btn btn-success float-right" ng-click="EditUser(User)">Edit User</button>
                                        <a href="/User/" title="Cancel" class="btn btn-danger float-right">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="~/Content/CardStyle.css" rel="stylesheet" />