@using UserRoles = AMS.Models.Enums.Roles;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Sub-DashLayout.cshtml";
}

<div class="container-fluid" ng-controller="LeaveCtrl" ng-init="initIndex()">
    <div class="row" style="margin-top: 20px;">

        @*<div class="col-xl-5 col-md-12 col-lg-12">
                <canvas id="bar" class="chart-bar"
                        chart-data="data" chart-labels="labels">
                    chart-series="series"
                </canvas>
            </div>*@
        <div class="col-xl-5 col-md-12 col-lg-auto">
            <div>
                <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#applyleaves">APPLY LEAVE</button>
            </div>
            <div class="card">
                <div class="card-header  border-0">
                    <h4 class="card-title">Summary for Leaves</h4>
                </div>
                <div class="card-body pt-0 pb-0">
                    <div class="row mb-0 pb-0">
                        <div class="row mb-0 pb-0 ml-4">
                        </div>
                        <div class="row mb-0 pb-0 ml-5">
                            <div style="color: chartreuse" class="col-md-1 col-xl-auto text-center py-3">
                                <h6 class="avatar avatar-md bradius fs-20 bg-success-transparent">{{UserIdentity.RemainingLeaves}}</h6>
                                <h6 class="mb-0 mt-3">Total Remaining Leaves</h6>
                            </div>
                            <div style="color: red" class="col-md-1 col-xl-auto text-center py-3 ">
                                <h6 class=" avatar avatar-md bradius fs-20 bg-orange-transparent">{{UserIdentity.AnnualLeaves}}</h6>
                                <h6 class="mb-0 mt-3">Annual Leaves Left</h6>
                            </div>
                            <div style="color: blueviolet" class="col-md-1 col-xl-auto text-center py-3">
                                <h6 class="avatar avatar-md bradius fs-20 bg-danger-transparent">{{UserIdentity.MedicalLeaves}}</h6>
                                <h6 class="mb-0 mt-3">Medical Leaves Left</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        @*<div class="col-xl-5 col-md-12 col-lg-12 barmt">
                <canvas id="bar" class="chart-bar"
                        chart-data="data" chart-labels="labels">
                    chart-series="series"
                </canvas>
            </div>*@
        <div class="col-xl-7 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header  border-0">
                    <h4 class="card-title">Leaves Summary for {{months[searchedMonth].name}} {{selectedYear}}</h4>
                </div>
                <div class="card-body pt-0 pb-3">
                    <div class="row mb-0 pb-0">
                        <div ng-if="!Summary.LeaveIsEmpty">
                            <div class="col-md-1 col-xl-auto text-center py-3">
                                <h6 class="avatar avatar-md bradius fs-20 bg-primary-transparent">{{Summary.AnnualLeaves}}</h6>
                                <h6 class="mb-0 mt-3">Annual Leaves</h6>
                            </div>
                            <div class="col-md-1 col-xl-auto text-center py-3 ">
                                <h6 class="avatar avatar-md bradius fs-20 bg-success-transparent">{{Summary.MedicalLeaves}}</h6>
                                <h6 class="mb-0 mt-3">Medical Leaves</h6>
                            </div>
                        </div>
                        <div ng-if="Summary.LeaveIsEmpty">
                            You don't have any leaves for {{months[searchedMonth].name}}' {{selectedYear}}
                        </div>
                        <div style="width:15%;float:right;margin-left:5px;">
                            <select ng-model="selectedMonth">
                                <option ng-repeat="month in months" value={{month.id}} ng-selected="month.id == selectedMonth">{{month.name}}</option>
                            </select>
                        </div>
                        <div style="width:15%;float:right;margin-left:5px;">
                            <select ng-model="selectedYear">
                                <option ng-repeat="year in years" value={{year}} ng-selected="year == selectedYear">{{year}}</option>
                            </select>
                        </div>
                        <div>
                            <button class="btn btn-primary btn-block" ng-click="getLeaveSummary(selectedYear, selectedMonth)">GET</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-md-12 col-lg-12">
            <div class="card" style="margin-top: 10px;">
                <div class="card-header  border-0">
                    <h4 class="card-title">Leaves Details</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <table class="table table-bordered table-responsive-xs" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr style="overflow:hidden;">
                                    <th>
                                        Date <a href="" class="sort-icon" ng-click="SetSortingColoumn('From')"><i class="fas fa-arrow-up" ng-class="Sorting.AscClass"></i><i class="fas fa-arrow-down" ng-class="Sorting.DescClass"></i></a>
                                    </th>
                                    <th>
                                        Status <a href="" class="sort-icon" ng-click="SetSortingColoumn('Status')"><i class="fas fa-arrow-up" ng-class="Sorting.AscClass"></i><i class="fas fa-arrow-down" ng-class="Sorting.DescClass"></i></a>
                                    </th>
                                    <th>
                                        Apply Date <a href="" class="sort-icon" ng-click="SetSortingColoumn('Apply Date')"><i class="fas fa-arrow-up" ng-class="Sorting.AscClass"></i><i class="fas fa-arrow-down" ng-class="Sorting.DescClass"></i></a>
                                    </th>
                                    <th>
                                        Accepted/Rejected Date <a href="" class="sort-icon" ng-click="SetSortingColoumn('Accepted/Rejected Date')"><i class="fas fa-arrow-up" ng-class="Sorting.AscClass"></i><i class="fas fa-arrow-down" ng-class="Sorting.DescClass"></i></a>
                                    </th>
                                    <th>
                                        Type <a href="" class="sort-icon" ng-click="SetSortingColoumn('Type')"><i class="fas fa-arrow-up" ng-class="Sorting.AscClass"></i><i class="fas fa-arrow-down" ng-class="Sorting.DescClass"></i></a>
                                    </th>
                                    <th>
                                        Reason <a href="" class="sort-icon" ng-click="SetSortingColoumn('Reason')"><i class="fas fa-arrow-up" ng-class="Sorting.AscClass"></i><i class="fas fa-arrow-down" ng-class="Sorting.DescClass"></i></a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="Leave in LeavesList| orderBy:Sorting.Field:Sorting.IsAscending">
                                    <td>
                                        {{Leave.LeaveDate | date:'MMM d, y'}}
                                    </td>
                                    <td>
                                        <span ng-if="Leave.Status == 0" style="color: blueviolet">Pending</span>
                                        <span ng-if="Leave.Status == 1" style="color: chartreuse">Accepted</span>
                                        <span ng-if="Leave.Status == 2" style="color:red">Rejected</span>
                                    </td>
                                    <td>
                                        {{Leave.ApplyDate | date:'MMM d, y'}}
                                    </td>
                                    <td>
                                        <span ng-if="Leave.Status == 0" style="color: grey">waiting for a response</span>
                                        <span ng-if="Leave.Status != 0" style="color: grey">{{Leave.AccpRejDate | date:'MMM d, y'}}</span>
</td>
                                    <td>
                                        {{Leave.TypeEnum}}
                                    </td>
                                    <td>
                                        {{Leave.Reason}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* ========================================================= APPLY LEAVE MODAL ================================================ *@
    <div class="modal fade" id="applyleaves">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Apply Leaves</h5>
                    <button class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="leave-types">
                        <div class="form-group">
                            <label class="form-label">Leave Days</label>
                            <select class="form-control custom-select select2" ng-model="Leave.singleMultiple">
                                <option value="single">Single Day</option>
                                <option value="multiple">Multiple Days</option>
                            </select>
                        </div>
                        <label class="form-label" ng-if="Leave.singleMultiple == 'single'">Choose Date:</label>
                        <label class="form-label" ng-if="Leave.singleMultiple == 'multiple'">From:</label>
                        <input type="date" class="form-control" ng-model="Leave.LeaveFrom" />
                        <label class="form-label" ng-if="Leave.singleMultiple == 'multiple'">To:</label>
                        <input type="date" class="form-control" ng-if="Leave.singleMultiple == 'multiple'" ng-model="Leave.LeaveTo" />
                        <div class="form-group">
                            <label class="form-label">Type</label>
                            <select class="form-control custom-select select2" ng-model="Leave.Type">
                                <option ng-selected="Leave.Type == 0" value="0">Annual Leave</option>
                                <option value="1">Medical Leave</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Reason:</label>
                            <textarea class="form-control" rows="5" ng-model="Leave.Reason">(optional)</textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="ml-auto">
                        <a href="#" class="btn btn-outline-primary" data-dismiss="modal">Close</a>
                        <button class="btn btn-primary btn-block col-md-1 col-xl-auto" style="margin-top: -5px;" data-dismiss="modal" ng-click="applyLeave()">Apply</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>