
@{
    ViewBag.Title = "Requests";
    Layout = "~/Views/Shared/_Sub-DashLayout.cshtml";
}

<div class="container-fluid" ng-controller="LeaveCtrl" ng-init="getPendingLeaves()">
    
    <div class="row">
        <div class="col-xl-12 col-md-12 col-lg-12">
            <div class="card" style="margin-top: 10px;">
                <div class="card-header  border-0">
                    <h4 class="card-title">Requested Leaves By Employees</h4>
                </div>
                <div  ng-if="PendingLeavesList.length == 0">
                    There are no leave requests
                </div>
                <div ng-if="PendingLeavesList.length != 0" class="card-body">
                    <div class="row">
                        <table class="table table-bordered table-responsive-xs" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr style="overflow:hidden;">
                                    <th>
                                        Emp Name 
                                    </th>
                                    <th>
                                        Status 
                                    </th>
                                    <th>
                                        Apply Date 
                                    </th>
                                    <th>
                                        Type 
                                    </th>
                                    <th>
                                        From 
                                    </th>
                                    <th>
                                        To 
                                    </th>
                                    <th>
                                        Reason 
                                    </th>
                                    <th>
                                        Total Days 
                                    </th>
                                    <th>
                                        Total Leaves Left
                                    </th>
                                    <th>
                                        Specific Leaves Left
                                    </th>
                                    <th>
                                        Accept/Reject 
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="Leave in PendingLeavesList| orderBy:Sorting.Field:Sorting.IsAscending">
                                    <td>
                                        {{Leave.AgentName}}
                                    </td>
                                    <td>
                                        <span ng-if="Leave.Status == 0" style="color: blueviolet">Pending</span>
                                    </td>
                                    <td>
                                        {{Leave.ApplyDate | date:'MMM d, y'}}
                                    </td>
                                    <td>
                                        {{Leave.TypeEnum}}
                                    </td>
                                    <td>
                                        {{Leave.LeaveFrom | date:'MMM d, y'}}
                                    </td>
                                    <td>
                                        {{Leave.LeaveTo | date:'MMM d, y'}}
                                    </td>
                                    <td>
                                        {{Leave.Reason}}
                                    </td>
                                    <td>
                                        {{Leave.DaysCount}}
                                    </td>
                                    <td>
                                        {{Leave.RemainingLeaves}}
                                    </td>
                                    <td>
                                        <span ng-if="Leave.Type == 0">{{Leave.AnnualLeaves}}</span>
                                        <span ng-if="Leave.Type == 1">{{Leave.MedicalLeaves}}</span>
                                    </td>
                                    <td class="text-center">
                                        <a href="" style="margin:2px;color: darkgreen" ng-click="acceptLeave(Leave)"><i class="fas fa-check"></i></a><a href="" style="margin: 2px; color: red" ng-click="rejectLeave(Leave)"><i class="fas fa-times"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
