@{
    ViewBag.Title = "Add";
}



<div class="container-fluid" ng-controller="DepartmentCtrl" ng-init="AddInit()">
    <h3 class="mt-4">Add Department</h3>
    <div class="row">
        <div class="col-lg-12">
            <div class="card z-depth-3">
                <div class="card-body">
                    <div class="tab-content p-3">
                        <div class="tab-pane active" id="edit">
                            <form class="p-3">
                                <div class="row">
                                    <div class="form-group col-md-3">
                                        <label>Name</label>
                                        <input type="text" class="form-control" ng-model="Department.Name" />
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>Description</label>
                                        <input type="text" class="form-control" ng-model="Department.Description" />
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>Positions</label>
                                        <button data-toggle="modal" data-target="#addPosition" type="button" class="btn btn-primary form-control">Add Position</button>
                                    </div>
                                </div>
                                <div class="=row" ng-repeat="Position in Department.PositionsList  | orderBy:Sorting.Field:Sorting.IsAscending">
                                    <label>Position Name: </label>
                                    <label style="color:darkblue; font-style:italic;">{{Position.PositionName}}</label>
                                    <label>Job Description: </label>
                                    <label style="color:darkblue; font-style:italic;">{{Position.JobDescription}}  </label>
                                    <a href="" ng-click="RemovePosition(Position.PositionOrder)"><i class="fas fa-trash-alt"></i></a>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button type="button" class="btn btn-success float-right" ng-click="AddDepartment(Department)" data-dismiss="modal">Add Dept</button>
                                        <a href="/Department/" title="Cancel" class="btn btn-danger float-right">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @* ============================================== ADD POSITION MODAL ============================================ *@
    <div class="modal fade" id="addPosition">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Position</h5>
                    <button class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="leave-types">
                        <div class="form-group">
                            <div class="row">
                                <div class="form-group col-md-9">
                                    <label>Name</label>
                                    <select ng-change="SetPositionName(DepartmentPosition.PositionOrder)" class="form-control" ng-model="DepartmentPosition.PositionOrder">
                                        <option disabled selected value="">Select Position</option>
                                        <option ng-repeat="position in Positions" value={{position.id}}>{{position.name}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-9">
                                    <label>Job Description</label>
                                    <textarea class="form-control" ng-model="DepartmentPosition.JobDescription" placeholder="Enter Job Description"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="ml-auto mt-2">
                        <button class="btn btn-primary btn-block col-md-1 col-xl-auto" style="margin-top: -5px;" ng-click="AddPosition(DepartmentPosition)">Add {{ModalTitle}}</button>
                    </div>
                    <a href="#" class="btn btn-outline-primary" data-dismiss="modal">Close</a>
                </div>
            </div>
        </div>
    </div>
</div>