@{
    ViewBag.Title = "Add";
}

<div class="container-fluid" ng-controller="DepartmentCtrl" ng-init="EditInit()">
    <h3 class="mt-4">Edit Department</h3>

    <div class="jumbotron pageHeading">
        <form class="p-3">
            <div class="row">
                <div class="form-group col-md-4">
                    <label>Name</label>
                    <input type="text" class="form-control" ng-model="Department.Name" />
                </div>

                <div class="form-group col-md-4">
                    <label>Description</label>
                    <input type="text" class="form-control" ng-model="Department.Description" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-success float-right" ng-click="EditDepartment(Department)">Save Changes</button>
                </div>
            </div>
        </form>
    </div>
</div>