
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Sub-DashLayout.cshtml";
}

<div class="container-fluid" ng-controller="PayCtrl" ng-init="initIndex()">
    <div class="row">
        <div class="col-sm-9 col-9">
            <h3 class="mt-4">Pay Roll</h3>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Employees List with Pay
        </div>
        <div class="row mb-0 pb-0" style=" margin-left: 200px; ">
            <div class="col-md-auto col-xl-auto text-center py-4 ">
                <select ng-model="selectedMonth" class="btnstyl">
                    <option ng-repeat="month in months" value={{month.id}} ng-selected="month.id == selectedMonth">{{month.name}}</option>
                </select>
            </div>
            <div class="col-md-auto col-xl-auto text-center py-4">
                <select ng-model="selectedYear" class="btnstyl1">
                    <option ng-repeat="year in years" value={{year}} ng-selected="year == selectedYear">{{year}}</option>
                </select>
            </div>
            <div class="col-md-auto col-xl-auto text-center py-3">
                <button role="button" class="btn btn-outline-primary btn-lg btn-iconed btn-rounded mt-2" ng-click="GetPayRollSummary()">
                    <i class="fa fa-chevron-left"></i> <span class="spn ml-1">GET</span>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-md" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr style="overflow:hidden;">
                            <th>
                                Employee ID <a href="" class="sort-icon" ng-click="SetSortingColoumn('Id')"><i class="fas fa-arrow-up" ng-class="Sorting.AscClass"></i><i class="fas fa-arrow-down" ng-class="Sorting.DescClass"></i></a>
                            </th>
                            <th>
                                Name <a href="" class="sort-icon" ng-click="SetSortingColoumn('FirstName')"><i class="fas fa-arrow-up" ng-class="Sorting.AscClass"></i><i class="fas fa-arrow-down" ng-class="Sorting.DescClass"></i></a>
                            </th>
                            <th>
                                Salary <a href="" class="sort-icon" ng-click="SetSortingColoumn('Salary')"><i class="fas fa-arrow-up" ng-class="Sorting.AscClass"></i><i class="fas fa-arrow-down" ng-class="Sorting.DescClass"></i></a>
                            </th>
                            <th>
                                Decuction In Days <a href="" class="sort-icon" ng-click="SetSortingColoumn('Email')"><i class="fas fa-arrow-up" ng-class="Sorting.AscClass"></i><i class="fas fa-arrow-down" ng-class="Sorting.DescClass"></i></a>
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="AgentPayDetail in PayRollList">
                            @* | orderBy:Sorting.Field:Sorting.IsAscending *@
                            <td>
                                {{AgentPayDetail.Id}}
                            </td>
                            <td>
                                {{AgentPayDetail.FirstName}}  {{AgentPayDetail.LastName}}
                            </td>
                            <td>
                                {{AgentPayDetail.Salary}}
                            </td>
                            <td>
                                {{AgentPayDetail.DeductionInDays}}
                            </td>
                            <td>
                                <a ng-if="!AgentPayDetail.IsGenerated" href="/Pay/PaySlip?Id={{AgentPayDetail.Id}}&Month={{selectedMonth}}&Year={{selectedYear}}" title="Genrate Pay Slip"><i class="fas fa-plus ml-3"></i></a>
                                <a ng-if="AgentPayDetail.IsGenerated" title="View Pay Slip"><i class="fas fa-eye ml-3"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
