
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Sub-DashLayout.cshtml";
}

<div class="container-fluid" ng-controller="PayCtrl" ng-init="initIndex()">
    <div class="row">
        <div class="col-sm-9 col-9">
            <h3 class="mt-4">Pay Roll</h3>
        </div>
        @*<div class="col-sm-3 col-3">
            <a href="/User/Add" class="btn-sm btn-primary mt-4 float-right" style="text-decoration-line:none; cursor:pointer;">
                Add <span><i class="fas fa-plus"></i></span>
            </a>
        </div>*@
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Employees List with Pay
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-md" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr style="overflow:hidden;">
                            <th>
                                Employee ID <a href="" class="sort-icon" ng-click="SetSortingColoumn('Id')"><i class="fas fa-arrow-up" ng-class="Sorting.AscClass"></i><i class="fas fa-arrow-down" ng-class="Sorting.DescClass"></i></a>
                            </th>
                            <th>
                                Name <a href="" class="sort-icon" ng-click="SetSortingColoumn('FirstName')"><i class="fas fa-arrow-up" ng-class="Sorting.AscClass"></i><i class="fas fa-arrow-down" ng-class="Sorting.DescClass"></i></a>
                            </th>
                            <th>
                                Salary <a href="" class="sort-icon" ng-click="SetSortingColoumn('Salary')"><i class="fas fa-arrow-up" ng-class="Sorting.AscClass"></i><i class="fas fa-arrow-down" ng-class="Sorting.DescClass"></i></a>
                            </th>
                            <th>
                                Decuction In Days <a href="" class="sort-icon" ng-click="SetSortingColoumn('Email')"><i class="fas fa-arrow-up" ng-class="Sorting.AscClass"></i><i class="fas fa-arrow-down" ng-class="Sorting.DescClass"></i></a>
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="AgentPayDetail in PayRollList"> @* | orderBy:Sorting.Field:Sorting.IsAscending *@
                            <td>
                                {{AgentPayDetail.Id}}
                            </td>
                            <td>
                                {{AgentPayDetail.FirstName}}  {{AgentPayDetail.LastName}}
                            </td>
                            <td>
                                {{AgentPayDetail.Salary}}
                            </td>
                            <td>
                                {{AgentPayDetail.DeductionInDays}}
                            </td>
                            <td>
                                <a href="/Pay/PaySlip?Id={{AgentPayDetail.Id}}" title="Genrate Pay Slip"><i class="fas fa-pencil-alt ml-3"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
