@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Sub-DashLayout.cshtml";
}

<div class="container-fluid" ng-controller="PayCtrl" ng-init="paySlipInit()">
    <div class="row">
        <div class="col-sm-9 col-9">
            <h3 class="mt-4">Pay Slip</h3>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Employees List with Pay
        </div>
        <div class="card-body">
           
        </div>
    </div>
</div>


