@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Sub-DashLayout.cshtml";
}
<link href="~/Content/CardStyle.css" rel="stylesheet" />
<div class="container mt-3" ng-controller="ProfileCtrl" ng-init="InitIndex()">
    <div class="row">
        <div class="col-lg-4 mb-3">
            <div class="profile-card-4 z-depth-3">
                <div class="card">
                    <div class="card-body text-center bg-primary rounded-top">
                        <div class="user-box">
                            <img ng-if="User.ImageUrl == null || User.ImageUrl == '' " src="~/Content/Image/userImageAvatar.jpg" />
                            <img ng-if="User.ImageUrl !=null && User.ImageUrl != '' " src={{User.ImageUrl}} />
                        </div>
                        <h4 class="mb-1 text-white">{{User.FirstName}} {{User.LastName}}</h4>
                        <h5 class="text-light">{{User.DepartmentName}}</h5>
                        <h6 class="text-light">{{User.PositionName}}</h6>
                    </div>
                    <div class="card-body">
                        <ul class="list-group shadow-none">
                            <li class="list-group-item">
                                <div class="list-icon">
                                    <i class="fa fa-phone-square"></i>
                                </div>
                                <div class="list-details">
                                    <span>{{TempUser.Contact1}}</span>
                                    <small>Mobile Number</small>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="list-icon">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <div class="list-details">
                                    <span>{{TempUser.Email}}</span>
                                    <small>Email Address</small>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="list-icon">
                                    <i class="fa fa-home"></i>
                                </div>
                                <div class="list-details">
                                    <span>{{TempUser.Address}}</span>
                                    <small>Address</small>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card z-depth-3">
                <div class="card-body">
                    <ul class="nav nav-pills nav-pills-primary nav-justified">
                        <li class="nav-item">
                            <span class="nav-link bg-primary active"><i class="icon-note"></i><span class="hidden-xs">Profile</span></span>
                        </li>
                    </ul>
                    <div class="tab-content p-3">
                        <div class="tab-pane active" id="edit">
                            <form>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">First Name</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" type="text" ng-model="User.FirstName" value="" disabled="disabled">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Last Name</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" type="text" ng-model="User.LastName" value="" disabled="disabled">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Email</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" type="email" ng-model="User.Email" value="" disabled="disabled">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Change profile</label>
                                    <div class="col-lg-4">
                                        <input type="file" accept="image/*" ngf-select="UploadUserImage($files,'ImageUrl')" class="form-control" />
                                    </div>
                                    <div class="col-lg-4">
                                        <button ng-if="User.ImageUrl == null || User.ImageUrl == ''" style = "margin-top:5px;" disabled>Removed</button>
                                        <button ng-if="User.ImageUrl !=null && User.ImageUrl != ''" ng-click="RemoveProfileImage()" style = "margin-top:5px;">Remove Image</button>
                                    </div>
                                </div>                               
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Address</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" type="text" ng-model="User.Address" placeholder="Street">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Contact</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" type="text" ng-model="User.Contact1" value="" maxlength="11" ng-change="IsContactNumber1()" placeholder="11 digit number">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Alternate Contact</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" type="text" ng-model="User.Contact2" value="" maxlength="11" ng-change="IsContactNumber2()" placeholder="11 digit number">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label"></label>
                                    <div class="col-lg-9">
                                        <input type="button" class="btn btn-secondary" value="Reset" ng-click="Reset()">
                                        <input type="button" class="btn btn-primary" value="Save Changes" ng-click="EditProfile(User)">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>