
@{
    ViewBag.Title = "Hiring";
    Layout = "~/Views/Shared/_Sub-DashLayout.cshtml";
}

<div class="container-fluid" ng-controller="UserCtrl" ng-init="initIndex()">
    <div class="row">
        <div class="col-sm-9 col-9">
            <h3 class="mt-4">Hiring Process/Approval</h3>
        </div>

    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            User List
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-md" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr style="overflow:hidden;">
                            <th>
                                ID <a href="" class="sort-icon" ng-click="SetSortingColoumn('Id')"><i class="fas fa-arrow-up" ng-class="Sorting.AscClass"></i><i class="fas fa-arrow-down" ng-class="Sorting.DescClass"></i></a>
                            </th>
                            <th>
                                First Name <a href="" class="sort-icon" ng-click="SetSortingColoumn('FirstName')"><i class="fas fa-arrow-up" ng-class="Sorting.AscClass"></i><i class="fas fa-arrow-down" ng-class="Sorting.DescClass"></i></a>
                            </th>
                            <th>
                                Last Name <a href="" class="sort-icon" ng-click="SetSortingColoumn('LastName')"><i class="fas fa-arrow-up" ng-class="Sorting.AscClass"></i><i class="fas fa-arrow-down" ng-class="Sorting.DescClass"></i></a>
                            </th>
                            <th>
                                Contact <a href="" class="sort-icon" ng-click="SetSortingColoumn('Contact')"><i class="fas fa-arrow-up" ng-class="Sorting.AscClass"></i><i class="fas fa-arrow-down" ng-class="Sorting.DescClass"></i></a>
                            </th>
                            <th>
                                Email <a href="" class="sort-icon" ng-click="SetSortingColoumn('Email')"><i class="fas fa-arrow-up" ng-class="Sorting.AscClass"></i><i class="fas fa-arrow-down" ng-class="Sorting.DescClass"></i></a>
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="User in filteredList  | orderBy:Sorting.Field:Sorting.IsAscending">
                            <td>
                                {{User.Id}}
                            </td>
                            <td>
                                {{User.FirstName}}
                            </td>
                            <td>
                                {{User.LastName}}
                            </td>
                            <td>
                                {{User.Contact1}}
                            </td>
                            <td>
                                {{User.Email}}
                            </td>

                            <td>
                                {{User.CreatedBy}}
                            </td>
                            <td>
                                {{User.CreatedAt | date:'MMM d, y'}}
                            </td>
                            <td>
                                <a href="/User/Edit?Id={{User.Id}}" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                <a href="/User/Edit?Id={{User.Id}}" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

